@import "~react-image-gallery/styles/scss/image-gallery.scss";

*, *::before, *::after{
  margin: 0; padding: 0; box-sizing: border-box;
}
body {
  width: 100%;
  overflow-y: scroll;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #363333;

  line-height: 1.5;
  font-size: 1rem;
  letter-spacing: 0.01rem;
}
#root{
  display: flex; flex-direction: column;
  min-height: 100vh;
}
.screen-width{
  max-width: 1280px;
  margin: 0 auto;
  @media(max-width: 768px){
    width: 100%;
  }
}

.card-layer-beneath{
  &::before{
    content: '';
    transform: translateY(-4px);
    width: 92.5%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background: #515151;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
.carousel-slider{
  li.slide{
    height: 80vh;
    .carousel-content{
      width: 100%;
      height: 100%;
    }
  }
  height: 80vh;

  .slider-wrapper{
    height: 100%; width: 100%;
  }
  div{
 
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    p{
      opacity: 1!important;
    }
  }
}
.control-arrow{
  padding: 10px!important;
  @media(max-width: 768px){
    display: none;
  }
}
.carousel-static-height{
  // overflow: hidden;
}

.custom-css-react-carousel-main{
  // height: 100vh;
}
.custom-css-react-carousel-image{
  object-fit: cover;
  width: 100%; height: 100%;
}
.custom-carousel-button{
  border: 1px solid grey;
  background: orange;
}