:root {
  // BACKGROUNDS
  --background-color-main: #363333;
  --background-color-secondary: #D1D1D1;

  // BUTTONS
  --button-background-color: #686B09;
  --button-text-color: #fff;
  --button-hover-background-color: #0e0d0d;
  --button-hover-text-color: #000;

  // ICONS
  --icon-light-color: #fff;
  --icon-dark-color: #000;

  // SHADOWS
  --card-starndard-shadow: 0px 2px 2px 0 rgba(0,0,0,.75);
  --text-standard-shadow: 2px 2px 2px #000;

  // FONTS
  --font-family-content: 'Montserrat', sans-serif;
  --font-color-content: #000;
  --font-size-content: 16px;

  --font-family-header: 'Trajan Pro', sans-serif;
  --font-color-header: yellow;
  --font-size-header: 3em; 
  @media(max-width:768px){ --font-size-header: 2em; }

  --font-family-navigation: 'Oswald', sans-serif;
  --font-color-navigation: #fff;
  --font-size-navigation: 16px;

}