:root {
  // BACKGROUNDS
  --background-color-main: #363333;
  --background-color-secondary: #D1D1D1;

  // BUTTONS
  --button-background-color: #969B00;
  --button-text-color: #fff;
  --button-hover-background-color: lightgrey;
  --button-hover-text-color: #000;
  --button-font-family: 'Oswald', sans-serif;

  // ICONS
  --icon-light-color: #fff;
  --icon-light-darken-color: rgba(255,255,255,.75);
  --icon-dark-color: #000;

  // SHADOWS
  --card-starndard-shadow: 0px 2px 2px 0 rgba(0,0,0,.75);
  --text-standard-shadow: 2px 2px 2px rgba(0,0,0,.5);
  --button-standard-shadow: 0 3px 4px -1px rgba(0,0,0,.85);

  // FONTS (general)
  --font-family-content: 'Montserrat', sans-serif;
  --font-color-content: rgba(255,255,255,.8);
  --font-size-content: 16px;

  --font-family-header: 'Playfair Display SC', serif;
  --font-shadow-header: 2px 2px 2px rgba(0,0,0,1);
  --font-color-header: #686B09;
  --font-size-header: 2.5em; 
  --font-spacing-header: 6px;
  @media(max-width:768px){ --font-size-header: 2em; }

  --font-family-navigation: 'Oswald', sans-serif;
  --font-color-navigation: #fff;
  --font-size-navigation: 16px;

}